.linkName{
    color: grey;
    text-decoration: none;
}
span{
    font-weight: bold;
}
.borderBottom{
    border-bottom: solid 3px rgb(57, 233, 57);
}
ul{
    list-style-type:"-";
    list-style-position:inside;
}
.link{
    color: #000;
    text-decoration-color: rgb(57, 233, 57);
    text-decoration-style: solid ;
}