.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.logo{
    display: flex;
    align-items:flex-start;
}
.header ul{
    display: flex;
}
.logo p{
    color: #424242;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.48px;
    padding-left: 10px;
}
.header ul > li{
    color: #000;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    list-style-type: none;
    opacity: 0.8500000238418579;
    padding-right: 70px;
    position: relative;
}
.header ul > li::after{
    content:"";
    width: 20px;
	height: 20px;
    background-image: url(./img/Frame\ 59.png);
    padding: 0px;
    
}
.partner{
    padding-right: 0;
    margin-right: 50px;
}
.header > p{
    color: #0536FC;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
}
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50% 50%;
    margin-bottom: 30px;
}
section{
    margin: 0 auto;
}
.program > div, .target > div{
    margin: 0 auto;
}
.program__text, .target__text{
    color: #0536FC;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 30px;
}
.program > div span, .target > div span{
    color: #000;
    font-size: 57px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: -1.71px;
    text-transform: uppercase;
}
.program > div > div, .target > div > div{
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}
.program__paragraphe, .target__paragraphe{
    color: #424242;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    max-width: 237px;
    padding-bottom: 100px;
}
.button > button{
    width: 213px;
    height: 55px;
    background: #0536FC;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    border: none;
}
main div img{
    width: 100%;
}
