.container{
    max-width: 1440px;
    margin: 0 auto;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.logo{
    display: flex;
    align-items:flex-start;
}
.navigation{
    display: none;
}
.header ul{
    display: flex;
}
.logo p{
    color: #424242;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.48px;
    padding-left: 10px;
}
.header ul > li{
    color: #000;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    list-style-type: none;
    opacity: 0.8500000238418579;
    padding-right: 70px;
    position: relative;
}
.header ul > li::after{
    content:"";
    width: 20px;
	height: 20px;
    display: inline-block;
    background-image: url(./img/Frame\ 59.png);
    
}
.partner{
    padding-right: 0;
    margin-right: 50px;
}
.header > p{
    color: #0536FC;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
}
.header > p::after{
    content:"";
    width: 20px;
	height: 20px;
    display: inline-block;
    background-image: url(./img/Frame\ 59.png);
}
.firstMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50% 50%;

}
.firstMain div img{
    width: 100%;
}
section{
    margin: 0 auto;
}

/* program */

.program > div, .target > div{
    margin: 0 auto;
}
.program__text, .target__text{
    color: #0536FC;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 30px;
}
.program > div span{
    color: #000;
    font-size: 57px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: -1.71px;
    text-transform: uppercase;
}
.program > div > div, .target > div > div{
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}
.program__paragraphe, .target__paragraphe{
    color: #424242;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    max-width: 237px;
    padding-bottom: 100px;
}
.button > button{
    width: 213px;
    height: 55px;
    background: #0536FC;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    border: none;
}
.target > div span{
    color: #000;
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -1.14px;
    text-transform: uppercase;
    }
.secondMain{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px 350px;
    

}
.secondMain > div img{
    width: 100%;
}

/* people */

.people{
    grid-column: 1/3;
    padding: 0 0 0 0 ;
    width: 100%;
}
.people__text{
    color: #0536FC;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.people span{
    color: #000;
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -1.14px;
    text-transform: uppercase;
    display: block;
}

/* school */

.school, .participants, .partners{
    padding-left: 50px;
}
.school__number, .participants__number, .partners__number{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    /* padding-top: 50px;
    padding-bottom: 30px; */
}
.school__text, .partners__text{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    padding-bottom: 210px;
}
.school > div, .participants > div, .partners > div{
    display: flex;
}
.school > div p, .partners > div p{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
    opacity: 0.6;
}
.school > div p, .participants > div p{
    max-width: 185px;
}
.partners > div p{
    max-width: 150px;
}

/* support */

.support__section{
    padding-top: 150px;
}
.support__block_flex{
    display: flex;
    justify-content: space-around;
}
.support__block_flex > p{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.48px;
    opacity: 0.35;
    margin-top: 70px;
}
.support__paragraphe{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 70px;
    border-top: 1px solid rgba(0, 0, 0, 0.35);
}
.support__paragraphe::after{
    content:"+";
    color: #0536FC;
    font-size: 30px;
}

/* portable classes */

.paragraphe_blue{
    color: #0536FC;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.48px;
    text-transform: uppercase;
}
.heading_block{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.heading_block span{
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.08px;
    text-transform: uppercase;
}

/* partners section */

.partners__paragraphe{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.48px;
    opacity: 0.6;
    max-width: 300px;
}
.partners__flex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:100%;
    justify-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}
.partners__block{
    padding: 0 100px 0 50px;
    border-right:1px solid rgba(0, 0, 0, 0.35);
    
}
.partners__block:last-child{
    border-right:none;
}
.partners__block:hover{
    background: #0536FC;
    color: #FFF;
}
.partners__img {
    padding-top: 30px;
    padding-bottom: 60px;
}
.partners__block span{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
}
.partners__paragraphe{
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.48px;
    max-width: 200px;
    
}

/* communication section */
.communication__section{
    padding: 150px 0 100px 0;
}
.communication__paragraphe{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
    opacity: 0.60;
    max-width: 310px;
    padding-top: 70px;
}

/* form */

.form__block{
    display: flex;
}
.form__block div{
    display: flex;
    flex-direction: column;
}
.form__block > div{
    margin-right: 100px;
}
.form__block label{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 20px;
}
.form__block input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    width: 460px;
}
.form__block input::placeholder{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.48px;
    opacity: 0.35;
    margin-bottom: 15px;
}
.empty{
    margin-top: 24px;
}
.button__block{
    padding-top: 100px;
}
.button__block button{
    width: 213px;
    height: 55px;
    background: #0536FC;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
}


@media screen and (max-width:1250px){
    .header{
        justify-content: space-around;
    }
    .header > nav > ul{
        display: none;
    }
    .navigation{
        display: block;
        color: #000;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.48px;
        text-transform: uppercase;
    }
    .navigation::after{
        content:"";
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(./img/Frame\ 59.png);
    }
    .support__block_flex{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:1100px){
    .program__text, .target__text{
        font-size: 10px;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .program > div span{
        font-size: 50px;
    }
    .program > div > div, .target > div > div{
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }
    .program__paragraphe, .target__paragraphe{
        font-size: 10px;
        max-width: 237px;
        padding-bottom: 50px;
    }
    .button > button{
        width: 213px;
        height: 55px;
        font-size: 16px;
    }
    .target > div span{
        font-size: 30px;
    }
}
@media screen and (max-width:800px){
    .container{
        text-align: center;
    }
    .header{
        flex-direction: column;
    }
    .firstMain{
        display: block;
    }
    .firstMain div img{
        width: 50%;
    }
    section{
        margin: 0 auto;
    }
    .program__text, .target__text{
        font-size: 10px;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    .program > div span{
        font-size: 35px;
    }
    .program > div > div, .target > div > div{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .program__paragraphe, .target__paragraphe{
        font-size: 10px;
        max-width: 237px;
        padding-bottom: 20px;
        margin: 0 auto;
    }
    .button > button{
        width: 150px;
        height: 35px;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .target > div span{
        font-size: 25px;
    }
    .partners__flex{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:50vh;
        justify-items: center;
        border-bottom:none;
    }
    .partners__block{
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    }
    .form__block{
        flex-direction: column;
    }
}