body{
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 20px;
}
.logoBlock {
}
.logo {
}
.nav {
   display: flex;
   align-items: center;
}
.searchBlock {
}
.search {
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    padding-right: 20px;
}
.basketBlock {
}
.basket {
}
.firstSection{
    position: relative;
    background-image:url(./image/section1.jpg);
}
.firstSection h3{
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 40px 40px 300px;
    color: #000000;
}
.absolutBlock{
    position: absolute;
    left: 380px;
    bottom: -15px;
}
.secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sneakers2Block {
}
.sneakers2 {
}
.paragraph {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    max-width: 800px;
    margin-left: 30px;
    color: #000000;
}
.thirdSection{
    background-image: url(./image/color.png);
}
.thirdSection h3{
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    max-width: 1030px;
    padding: 200px;
    color: #FFFFFF;
}
.fourthSection {
    display: flex;
    justify-content: center;
}
.sneakers3Block {
    margin-right: 140px;
}
.sneakers3 {
}
.text {
    max-width: 500px;
}
.firstParagraphe {
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: #000000;
}
.secondParagraphe {
    font-weight: 400;
font-size: 24px;
line-height: 160%;
color: #000000;
}